name: 'Go'

on:
  push:
    branches: [main]
    paths: &applicable_paths
      - '**/*.go'
      - '**.go'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    types: [opened, synchronize ]
    paths: *applicable_paths
  workflow_run:
    workflows: [Lint PR]
    types:
      - completed

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Install golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6

      - name: Run lint
        run: just lint

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' || github.event.workflow_run.conclusion == 'success' }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go-version: ['1.24', '1.25']
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Run tests
        run: just test
