name: 'Lint PR'

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited

jobs:
  main:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Configure which types are allowed (newline-delimited).
          # These are regex patterns auto-wrapped in `^ $`.
          # Default: https://github.com/commitizen/conventional-commit-types
          types: |
            chore
            ci
            docs
            enhance
            feat
            fix
            refactor
            release
            test
          # Configure that a scope must always be provided.
          requireScope: false
          # If the PR contains one of these newline-delimited labels, the
          # validation is skipped. If you want to rerun the validation when
          # labels change, you might want to use the `labeled` and `unlabeled`
          # event triggers in your workflow.
          ignoreLabels: |
            bot
            ignore-semantic-pull-request
